# <center><u>IS 6493- EXERCISE 2</u></center>

## Author: Mahima Regunathan

In [1]:
import pandas as pd
import numpy as np

### Task 1

In [2]:
df = pd.read_csv("words_alpha.txt", header = None, delimiter = "\n", names = ["words"], keep_default_na = False)
# also works with delimiter = "None"
print(df)

               words
0                  a
1                 aa
2                aaa
3                aah
4              aahed
5             aahing
6               aahs
7                aal
8              aalii
9             aaliis
10              aals
11               aam
12              aani
13          aardvark
14         aardvarks
15          aardwolf
16        aardwolves
17             aargh
18             aaron
19           aaronic
20         aaronical
21          aaronite
22         aaronitic
23            aarrgh
24           aarrghh
25              aaru
26               aas
27          aasvogel
28         aasvogels
29                ab
...              ...
370073       zuleika
370074     zulhijjah
370075       zulinde
370076      zulkadah
370077          zulu
370078       zuludom
370079       zuluize
370080         zulus
370081       zumatic
370082     zumbooruk
370083          zuni
370084        zunian
370085       zunyite
370086         zunis
370087      zupanate
370088        zurich
370089       zurlite
370090       zutugil
370091     zuurveldt
370092          zuza
370093     zwanziger
370094      zwieback
370095     zwiebacks
370096    zwieselite
370097     zwinglian
370098  zwinglianism
370099  zwinglianist
370100       zwitter
370101    zwitterion
370102  zwitterionic

[370103 rows x 1 columns]

In [3]:
series_words = df["words"] # Converting Dataframe to Series
print(series_words)

0                    a
1                   aa
2                  aaa
3                  aah
4                aahed
5               aahing
6                 aahs
7                  aal
8                aalii
9               aaliis
10                aals
11                 aam
12                aani
13            aardvark
14           aardvarks
15            aardwolf
16          aardwolves
17               aargh
18               aaron
19             aaronic
20           aaronical
21            aaronite
22           aaronitic
23              aarrgh
24             aarrghh
25                aaru
26                 aas
27            aasvogel
28           aasvogels
29                  ab
              ...
370073         zuleika
370074       zulhijjah
370075         zulinde
370076        zulkadah
370077            zulu
370078         zuludom
370079         zuluize
370080           zulus
370081         zumatic
370082       zumbooruk
370083            zuni
370084          zunian
370085         zunyite
370086           zunis
370087        zupanate
370088          zurich
370089         zurlite
370090         zutugil
370091       zuurveldt
370092            zuza
370093       zwanziger
370094        zwieback
370095       zwiebacks
370096      zwieselite
370097       zwinglian
370098    zwinglianism
370099    zwinglianist
370100         zwitter
370101      zwitterion
370102    zwitterionic
Name: words, Length: 370103, dtype: object

### A - Print the first 5 values of the data

In [4]:
# A - Print the first 5 values of the data
series_words.iloc[:5]

0        a
1       aa
2      aaa
3      aah
4    aahed
Name: words, dtype: object

### B - Write commands to produce the count of non-zero values (verify it is 370103)

In [5]:
# B - Write commands to produce the count of non-zero values (verify it is 370103)
print(series_words[series_words != 0].count())
print(series_words.where(series_words != 0).count())

370103
370103

###  C - Write commands to verify that there are 0 null values

In [6]:
# C - Write commands to verify that there are 0 null values
print(series_words.notnull().sum())
if series_words.notnull().sum() == series_words.count():
    print("There are 0 null values")

370103
There are 0 null values

### Task 2

### D - Print all letters ending with ‘sy’

In [7]:
# D - Print all letters ending with ‘sy’

sy_series = series_words[series_words.str.endswith("sy")]
sy_series

570              ablepsy
1387          acatalepsy
1401           acatharsy
2361        achromatopsy
2779              acrasy
2849              acrisy
3281            actressy
3972              adipsy
4705              advisy
5022           aerognosy
5126          aeroscepsy
6325              agnosy
9947             ambassy
10998            ampassy
11726           analepsy
12422         androlepsy
12850        angiotripsy
13840             anopsy
16473         antonomasy
16513              antsy
16719             apepsy
17411           apostasy
18895         archheresy
18897      archhypocrisy
19570             argosy
20425          arsyversy
20786              artsy
22257         astrognosy
22501           athanasy
22837            atrepsy
               ...
331162          trophesy
336347            unbusy
338098        uncourtesy
340863          undrossy
340970            uneasy
342415          unflossy
342861           unfussy
343092          unglassy
343126          unglossy
343249          ungrassy
343276          ungreasy
345799           unlousy
346608           unmossy
346924           unnoisy
351591           unsonsy
353066           untipsy
354986         upsadaisy
355026              upsy
355027         upsidaisy
357446        vasotripsy
358457        verdigrisy
362464          wansonsy
363797            weensy
364842            whimsy
365345            whoosy
367246            woodsy
367404             wopsy
368261    xanthocyanopsy
368347          xenelasy
368955          zealousy
Name: words, Length: 394, dtype: object

### E - Write command to sort the output (series or column of dataframe) alphabetically, and obtain just the last word in this list. What is it?

In [8]:
# E - Write command to sort the output (series or column of dataframe) alphabetically, 
# and obtain just the last word in this list. What is it?

sy_series = sy_series.sort_values()
#print(sy_series)
print(sy_series.iat[sy_series.count() - 1])

zealousy

### Task 3

### F - count the number of words that start with the letter ‘z’ - using startswith()

In [9]:
# F - count the number of words that start with the letter ‘z’ - using startswith()
z_series1 = series_words[series_words.str.startswith("z")]
print("Count of # of words starting with z: ",z_series1.count())
#print(z_series1)

Count of # of words starting with z:  1387

### G - count the number of words that start with the letter ‘z’ - using get()

In [10]:
# G - count the number of words that start with the letter ‘z’ - using get()

z_series2 = series_words.get(series_words.str.startswith("z"))
print("Count of # of words starting with z: ", z_series2.count())
#print(z_series2)

Count of # of words starting with z:  1387

### Task 4 - Count of words in the dataset that starts with each letter of the alphabet

### H - using .value_counts()

In [11]:
# H - using .value_counts()

new_series1 = series_words.astype(str).str[0]
new_series1.value_counts()

s    38764
p    34860
c    32106
a    25417
u    22767
m    19805
t    18819
d    18733
b    18413
r    16783
e    14197
h    13743
n    13458
i    13199
o    12681
f    11893
g    10953
l    10002
w     6559
v     5329
k     3952
j     2840
q     1793
z     1387
y     1143
x      507
Name: words, dtype: int64

### I - Use .groupby() and .count() to perform the task

In [12]:
# I - Use .groupby() and .count() to perform the task

#new_series1.groupby(new_series1.values).count()
series_words.groupby(series_words.astype(str).str[0]).count()

words
a    25417
b    18413
c    32106
d    18733
e    14197
f    11893
g    10953
h    13743
i    13199
j     2840
k     3952
l    10002
m    19805
n    13458
o    12681
p    34860
q     1793
r    16783
s    38764
t    18819
u    22767
v     5329
w     6559
x      507
y     1143
z     1387
Name: words, dtype: int64

### J. Mimick MAPREDUCE in Pandas

In [13]:
# J. Mimick MAPREDUCE in Pandas. This is a slightly more involved approach – and uses (key, value) 
# as input and produces (key, value) as output, where key is the letter.

list_of_index = series_words.astype(str).str[0].tolist()
list_of_values = [i for i in range(len(list_of_index))]
new_series3 = pd.Series(list_of_values, index = list_of_index)
new_series3.groupby(new_series3.index).count()

a    25417
b    18413
c    32106
d    18733
e    14197
f    11893
g    10953
h    13743
i    13199
j     2840
k     3952
l    10002
m    19805
n    13458
o    12681
p    34860
q     1793
r    16783
s    38764
t    18819
u    22767
v     5329
w     6559
x      507
y     1143
z     1387
dtype: int64

### K. use .sum() to verify if sum adds upto 370103

In [14]:
# K. use .sum() to verify if sum adds upto 370103

# Using J
print(new_series3.groupby(new_series3.index).count().sum())

# Using I
print(series_words.groupby(series_words.astype(str).str[0]).count().sum())

# Using H
print(new_series1.value_counts().sum())

370103
370103
370103

### L - Alphabet with highest frequency count

In [15]:
# L - Alphabet with highest frequency count
new_series1.value_counts().idxmax()

's'

### Task 5

In [16]:
# Using extractall() to get series of alphabets for each word

result = series_words.str.extractall(pat = '([a-z])')
result

              0
       match
0      0      a
1      0      a
       1      a
2      0      a
       1      a
       2      a
3      0      a
       1      a
       2      h
4      0      a
       1      a
       2      h
       3      e
       4      d
5      0      a
       1      a
       2      h
       3      i
       4      n
       5      g
6      0      a
       1      a
       2      h
       3      s
7      0      a
       1      a
       2      l
8      0      a
       1      a
       2      l
...          ..
370099 11     t
370100 0      z
       1      w
       2      i
       3      t
       4      t
       5      e
       6      r
370101 0      z
       1      w
       2      i
       3      t
       4      t
       5      e
       6      r
       7      i
       8      o
       9      n
370102 0      z
       1      w
       2      i
       3      t
       4      t
       5      e
       6      r
       7      i
       8      o
       9      n
       10     i
       11     c

[3494695 rows x 1 columns]

In [17]:
# Extracting just the series fo alphabets for all words

series1 = pd.Series(np.ones(len(result), dtype=int), index = result[0])
series1

# Getting the count of each alphabet using groupby()
series2 = series1.groupby(series1.index).count()
series2

0
a    295794
b     63940
c    152980
d    113190
e    376455
f     39238
g     82627
h     92369
i    313008
j      5456
k     26814
l    194915
m    105208
n    251435
o    251596
p    113662
q      5883
r    246141
s    250284
t    230895
u    131495
v     33075
w     22407
x     10493
y     70578
z     14757
dtype: int64

### M. just the letter and count of the letter that occurs the most in the words

In [18]:
print("Letter that occurs the most:", series2.idxmax(), "with count ", series2[series2.idxmax()])

Letter that occurs the most: e with count  376455

### N. just the letter and count of the letter that occurs the least in the words

In [19]:
print("Letter that occurs the least:", series2.idxmin(), "with count ", series2[series2.idxmin()])

Letter that occurs the least: j with count  5456

### Task 6

In [20]:
# Add 2 new columsn to the dataframe - first letter, length of word

first_letter = df['words'].astype(str).str[0]
length = df['words'].str.len()
df["length"] = length
df["firstLetter"] = first_letter
df

               words  length firstLetter
0                  a       1           a
1                 aa       2           a
2                aaa       3           a
3                aah       3           a
4              aahed       5           a
5             aahing       6           a
6               aahs       4           a
7                aal       3           a
8              aalii       5           a
9             aaliis       6           a
10              aals       4           a
11               aam       3           a
12              aani       4           a
13          aardvark       8           a
14         aardvarks       9           a
15          aardwolf       8           a
16        aardwolves      10           a
17             aargh       5           a
18             aaron       5           a
19           aaronic       7           a
20         aaronical       9           a
21          aaronite       8           a
22         aaronitic       9           a
23            aarrgh       6           a
24           aarrghh       7           a
25              aaru       4           a
26               aas       3           a
27          aasvogel       8           a
28         aasvogels       9           a
29                ab       2           a
...              ...     ...         ...
370073       zuleika       7           z
370074     zulhijjah       9           z
370075       zulinde       7           z
370076      zulkadah       8           z
370077          zulu       4           z
370078       zuludom       7           z
370079       zuluize       7           z
370080         zulus       5           z
370081       zumatic       7           z
370082     zumbooruk       9           z
370083          zuni       4           z
370084        zunian       6           z
370085       zunyite       7           z
370086         zunis       5           z
370087      zupanate       8           z
370088        zurich       6           z
370089       zurlite       7           z
370090       zutugil       7           z
370091     zuurveldt       9           z
370092          zuza       4           z
370093     zwanziger       9           z
370094      zwieback       8           z
370095     zwiebacks       9           z
370096    zwieselite      10           z
370097     zwinglian       9           z
370098  zwinglianism      12           z
370099  zwinglianist      12           z
370100       zwitter       7           z
370101    zwitterion      10           z
370102  zwitterionic      12           z

[370103 rows x 3 columns]

In [21]:
# Use .groupby() and a builtin reduction/aggregation function to obtain the length of the longest word in each group of letters

grouped_df = df["length"].groupby(df["firstLetter"]).max()
grouped_df

firstLetter
a    28
b    23
c    29
d    31
e    27
f    24
g    23
h    28
i    25
j    18
k    20
l    22
m    27
n    22
o    23
p    25
q    19
r    25
s    25
t    29
u    22
v    20
w    19
x    16
y    15
z    22
Name: length, dtype: int64

In [22]:
# Use .merge() to merge the original dataframe with the grouped dataframe on the column containing the first letter.

merged_df = df.merge(grouped_df, on = "firstLetter")
merged_df

               words  length_x firstLetter  length_y
0                  a         1           a        28
1                 aa         2           a        28
2                aaa         3           a        28
3                aah         3           a        28
4              aahed         5           a        28
5             aahing         6           a        28
6               aahs         4           a        28
7                aal         3           a        28
8              aalii         5           a        28
9             aaliis         6           a        28
10              aals         4           a        28
11               aam         3           a        28
12              aani         4           a        28
13          aardvark         8           a        28
14         aardvarks         9           a        28
15          aardwolf         8           a        28
16        aardwolves        10           a        28
17             aargh         5           a        28
18             aaron         5           a        28
19           aaronic         7           a        28
20         aaronical         9           a        28
21          aaronite         8           a        28
22         aaronitic         9           a        28
23            aarrgh         6           a        28
24           aarrghh         7           a        28
25              aaru         4           a        28
26               aas         3           a        28
27          aasvogel         8           a        28
28         aasvogels         9           a        28
29                ab         2           a        28
...              ...       ...         ...       ...
370073       zuleika         7           z        22
370074     zulhijjah         9           z        22
370075       zulinde         7           z        22
370076      zulkadah         8           z        22
370077          zulu         4           z        22
370078       zuludom         7           z        22
370079       zuluize         7           z        22
370080         zulus         5           z        22
370081       zumatic         7           z        22
370082     zumbooruk         9           z        22
370083          zuni         4           z        22
370084        zunian         6           z        22
370085       zunyite         7           z        22
370086         zunis         5           z        22
370087      zupanate         8           z        22
370088        zurich         6           z        22
370089       zurlite         7           z        22
370090       zutugil         7           z        22
370091     zuurveldt         9           z        22
370092          zuza         4           z        22
370093     zwanziger         9           z        22
370094      zwieback         8           z        22
370095     zwiebacks         9           z        22
370096    zwieselite        10           z        22
370097     zwinglian         9           z        22
370098  zwinglianism        12           z        22
370099  zwinglianist        12           z        22
370100       zwitter         7           z        22
370101    zwitterion        10           z        22
370102  zwitterionic        12           z        22

[370103 rows x 4 columns]

In [23]:
# Finally write code to pull out from the merged dataframe (use .loc[] or .iloc[]) 
# only those rows where the length column is equal to the maxlength column

longest_word_df = merged_df[merged_df["length_x"] == merged_df["length_y"]]
longest_word_df

                                  words  length_x firstLetter  length_y
15119      antidisestablishmentarianism        28           a        28
36134           blepharosphincterectomy        23           b        23
57279     cyclotrimethylenetrinitramine        29           c        29
84792   dichlorodiphenyltrichloroethane        31           d        31
97043       electroencephalographically        27           e        27
117349         formaldehydesulphoxylate        24           f        24
122561          gastroenteroanastomosis        23           g        23
139036     hydroxydehydrocorticosterone        28           h        28
147387        immunoelectrophoretically        25           i        25
159480                  yohimbinization        15           y        15
162475               jurisprudentialist        18           j        18
163923             keratoconjunctivitis        20           k        20
168272           laparocolpohysterotomy        22           l        22
172522           lymphangioendothelioma        22           l        22
186522      microspectrophotometrically        27           m        27
196853           naphthylaminesulphonic        22           n        22
202413           noncontemporaneousness        22           n        22
203219           nondistinguishableness        22           n        22
204802           noninterchangeableness        22           n        22
206725           nonrepresentationalism        22           n        22
219830          overindividualistically        23           o        23
219883          overintellectualization        23           o        23
233945        philosophicopsychological        25           p        25
258189              quattuordecillionth        19           q        19
265590        regeneratoryregeneratress        25           r        25
312037        superincomprehensibleness        25           s        25
330156    trinitrophenylmethylnitramine        29           t        29
334008           ultranationalistically        22           u        22
355509           ureterocystanastomosis        22           u        22
356548             vagoglossopharyngeal        20           v        20
364285              westnorthwestwardly        19           w        19
368266                 xanthocreatinine        16           x        16
368277                 xantholeucophore        16           x        16
369834           zoologicoarchaeologist        22           z        22

### O - Produce an output that has three columns – letter, longest word, length. Sort in ascending order of the alphabet.

In [24]:
output_df = longest_word_df[['firstLetter', 'words', 'length_y']]
output_df.columns = ['alphabet', 'longest word', 'length']
output_df = output_df.sort_values('alphabet')
output_df

       alphabet                     longest word  length
15119         a     antidisestablishmentarianism      28
36134         b          blepharosphincterectomy      23
57279         c    cyclotrimethylenetrinitramine      29
84792         d  dichlorodiphenyltrichloroethane      31
97043         e      electroencephalographically      27
117349        f         formaldehydesulphoxylate      24
122561        g          gastroenteroanastomosis      23
139036        h     hydroxydehydrocorticosterone      28
147387        i        immunoelectrophoretically      25
162475        j               jurisprudentialist      18
163923        k             keratoconjunctivitis      20
168272        l           laparocolpohysterotomy      22
172522        l           lymphangioendothelioma      22
186522        m      microspectrophotometrically      27
206725        n           nonrepresentationalism      22
204802        n           noninterchangeableness      22
203219        n           nondistinguishableness      22
202413        n           noncontemporaneousness      22
196853        n           naphthylaminesulphonic      22
219830        o          overindividualistically      23
219883        o          overintellectualization      23
233945        p        philosophicopsychological      25
258189        q              quattuordecillionth      19
265590        r        regeneratoryregeneratress      25
312037        s        superincomprehensibleness      25
330156        t    trinitrophenylmethylnitramine      29
334008        u           ultranationalistically      22
355509        u           ureterocystanastomosis      22
356548        v             vagoglossopharyngeal      20
364285        w              westnorthwestwardly      19
368266        x                 xanthocreatinine      16
368277        x                 xantholeucophore      16
159480        y                  yohimbinization      15
369834        z           zoologicoarchaeologist      22

### P. How many rows in the final output?

In [25]:
len(output_df)

34

### Task 7

### Q. Find the length of longest word in the data

In [26]:
output_df.loc[df['length'].idxmax()]

alphabet                                      d
longest word    dichlorodiphenyltrichloroethane
length                                       31
Name: 84792, dtype: object